# Database Configuration
POSTGRES_DB=fit_back
POSTGRES_USER=fit_user
POSTGRES_PASSWORD=CHANGEME

DB_HOST=postgres
DB_PORT=5432
DB_NAME=fit_back
DB_USER=fit_user
DB_PASSWORD=CHANGEME

# MinIO Configuration
MINIO_ROOT_USER=CHANGEME
MINIO_ROOT_PASSWORD=CHANGEME

# App Security
SECRET_KEY=CHANGEME
